footer {
  background-color: #000a26;
  width: 100%;
  padding: 40px;
  color: white;
  font-size: 20px;
  overflow: hidden;
  .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    p {
      text-align: right;
      grid-column-start: 2;
    }
    .column {
      text-align: left;
      ul {
        list-style: none;
        display: flex;
        justify-content: end;
        li {
          display: block;
          cursor: pointer;
          margin: 12px;
          i {
            margin: 0 5px;
          }
        }
      }
    }
  }

  .row::before {
    display: none;
  }
}
